<% if current_user %>

<div ng-app="app">
  <div ng-controller="tripsCtrl">

    <h1>My Trips</h1>

    <% @trips.each do |trip| %>
      <a href='trips/<%= trip.id%>'><%= trip.title %></p>
    <% end %>
    <br>
    <a class="btn-floating btn-large waves-effect waves-light red" href = '/trips/new'><i class="material-icons">add</i></a>
    <h3><a href='/groups/new'>Add to Existing Trip</a></h3>

    <% end %>
  </div>
</div>