<div id="map" class="valign"></div>
<script type="text/javascript">var tripId = <%= @trip.id %>;
</script>
<script type="text/javascript">var tripAddress = "<%= @trip.address %>";
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWODzEDsut0goHvr-1aaBXm40w0o0ojLo&callback=initMap"
  async defer></script>
