<div id="map" style="width: 95%; height: 80%; margin: 30px" class="center-align"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWODzEDsut0goHvr-1aaBXm40w0o0ojLo&callback=initMap"
  async defer></script>
<script type="text/javascript">var tripId = <%= @trip.id %>;
</script>